<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>INDEX</title>
</head>
<body>
  <h2>Hello EJS. My name is rohit and you are running on my pc on port 4242</h2>
  <%- Math.random() -%>
</body>
</html>
